.navbar__link_logo{
    color: blue;
    font-size: 40px;
    text-shadow: 2px 2px 5px grey;
}
.navbar__link{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.navbar__link:hover{
    color: red;
}
.navbar__link_btn{
    font-size: 18px;
    font-weight: 600;
    padding: 20px 40px;
    background: linear-gradient(to right, rgb(246, 15, 15), rgb(223, 143, 143));
    color: white;
    border-radius: 40px;
}
.navbar__link_btn:hover {
    background: linear-gradient(to right, rgb(223, 143, 143),  rgb(246, 15, 15));
  }
  .navbar__link_btn:active {
    background: linear-gradient(to right, rgb(246, 15, 15), rgb(223, 143, 143));
    transform: scale(0.98);
  }
.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    padding: 20px 0px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    border:none;
    box-shadow: 2px 2px 5px rgb(191, 190, 190);
    z-index: 10;
}
.navbar__nav{
    display: flex;
    align-items: center;
    gap: 50px;
}
.logo{
    width: 65px;
    height: 65px;
}
#lang{
  border: none;
  font-size: 20px;
   outline: none;
}
#uz,#en,#ru{
  border: none;
  
}

@media(max-width:1120px){
    .container{
      width: 1000px;
    }
}
@media(max-width:1020px){
    .container{
      width: 900px;
    }
}
@media(max-width:920px){
    .container{
      width: 800px;
    }
    .navbar__nav{
      display: none;
      gap: 0px;
    }
    .navbar__link_btn{
      display: none;
    }
    .navbar__link{
      display: none;
    }
    #lang{
      display: none;
    }
    .fa-bars{
      display: block;
    }
}
@media(max-width:820px){
    .container{
      width: 700px;
    }
}
@media(max-width:720px){
    .container{
      width: 600px;
    }
}
@media(max-width:620px){
    .container{
      width: 500px;
    }
}
@media(max-width:520px){
    .container{
      width: 400px;
    }
}
@media(max-width:420px){
    .container{
      width: 95%;
      /* padding-left: 15px;
      padding-right: 15px; */
    }
   
    
    .navbar{
      padding: 10px 0px;
      position: fixed;
      left: 0;
      right: 0;
      background-color: white;
      border:none;
      box-shadow: 2px 2px 5px rgb(191, 190, 190);
      z-index: 10;
  }
}