.contact{
    text-align: center;
    padding-top: 50px;
}
.contact__form{
    width: 350px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 5px 5px 15px grey;
}
input{
    width: 95%;
    height: 45px;
    margin-bottom: 15px;  
    outline: none;
    padding-left: 10px;
  
}
select,option{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;  
    outline: none;
   padding: 10px;

}

.contact__btn{
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none !important;
}