.contact{
    text-align: center;
    padding-top: 50px;
}
.contact__form{
    width: 350px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 5px 5px 15px grey;
}
input{
    width: 95%;
    height: 45px;
    margin-bottom: 15px;  
    outline: none;
    padding-left: 10px;
  
}
select,option{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;  
    outline: none;
   padding: 10px;

}

.contact__btn{
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
}
@media(max-width:1120px){
    .container{
      width: 1000px;
    }
}
@media(max-width:1020px){
    .container{
      width: 900px;
    }
}
@media(max-width:920px){
    .container{
      width: 800px;
    }
}
@media(max-width:820px){
    .container{
      width: 700px;
    }
}
@media(max-width:720px){
    .container{
      width: 600px;
    }
}
@media(max-width:620px){
    .container{
      width: 500px;
    }
}
@media(max-width:520px){
    .container{
      width: 400px;
    }
}
@media(max-width:420px){
    .container{
      width: 100%;
      padding: 15px;
    }
}