.footer__link_logo{
    font-size: 40px;
    font-weight: 500;
    color: black;
}
.footer__logo{
    font-size: 14px;
    border-bottom: 2px solid red;
}
.footer__link{
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
}
.footer__link:hover{
    text-shadow: 5px 5px 10px grey;
    color: red;
}
.footer__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__item{
    flex-direction: column;
    display: flex;
}
.footer__item_1{
  flex-direction: column;
    display: flex;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
}
.fa-location-dot,.fa-telegram,.fa-youtube,.fa-phone{
    font-size: 26px;
    color: black;
    margin-right: 7px;
}
@media(max-width:1120px){
    .container{
      width: 1000px;
    }
}
@media(max-width:1020px){
    .container{
      width: 900px;
    }
}
@media(max-width:920px){
    .container{
      width: 800px;
    }
}
@media(max-width:820px){
    .container{
      width: 700px;
    }
    .footer__item_1{
      display: none;
    }
    
}
@media(max-width:720px){
    .container{
      width: 600px;
    }
}
@media(max-width:620px){
    .container{
      width: 500px;
    }
}
@media(max-width:520px){
    .container{
      width: 400px;
    }
}
@media(max-width:420px){
    .container{
      width: 95%;
      /* padding-left: 15px;
      padding-right: 15px; */
    }
    .footer__link{
      font-size: 16px;
    }
    .fa-location-dot,.fa-telegram,.fa-youtube,.fa-phone{
      font-size: 20px;
      color: black;
      margin-right: 7px;
  }
}
